body{
font-family: Arial;
background:#f5f7fa;
margin:0;
}

h1{
text-align:center;
color:#333;
}

button{
background:#ff6600;
color:white;
border:none;
padding:12px 20px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#e05500;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}