body{
font-family: Arial;
background:#f5f7fa;
margin:0;
}

h1{
text-align:center;
color:#333;
}

button{
background:#ff6600;
color:white;
border:none;
padding:12px 20px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#e05500;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}
#chatbot{
position:fixed;
bottom:20px;
right:20px;
}

#chatbox{
background:white;
width:250px;
height:300px;
border:1px solid #ccc;
padding:10px;
overflow:auto;
}

#messages{
height:220px;
overflow:auto;
margin-bottom:10px;
}
.sos-btn{
background:red;
color:white;
padding:15px 25px;
font-size:18px;
border:none;
border-radius:8px;
cursor:pointer;
margin:20px;
}

.sos-btn:hover{
background:darkred;
}
.dark-mode{
background:#121212;
color:white;
}

.dark-mode .card{
background:#1e1e1e;
}
@media (max-width:768px){

.services{
flex-direction:column;
align-items:center;
}

.card{
width:80%;
}

#map{
width:95%;
}

}